/* Background keseluruhan */
body {
    background-color: #247b9e;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container utama */
div.container {
    margin: 0 auto;      /* tengah */
    width: 90%;          /* lebar 90% */
}

/* Header */
header {
    width: 100%;
    height: 100px;
    background-color: #820;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Box contoh dimension */
.box {
    width: 80%;
    height: auto;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Footer */
footer {
    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
